@{
    ViewData["Title"] = "Home Page";
}

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

@* Div for vue *@
<div id="index">
    @* First 'page' *@
    <div v-if="!submitted" class="container bg-light rounded">

        <div class="text-center">
            <h3 class="display-3">Welcome</h3>
            <p>This website allows you to tell us what ingredients you have in your house and we'll find you some really good reciepes you can make with those ingredients.</p>
            <p>Just input the ingredients below or send us a picture of the products (with the camera icon) and we'll try and give you some amazing meals</p>
        </div>

        @* Top bar that scrolls with page *@
        <div class="d-flex flex-row-reverse pt-3 mb-3 sticky-top">
            <button class="btn btn-secondary ml-1" v-on:click="addIngredient">Add Ingredient</button>
            <button class="btn btn-danger ml-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                    <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z" />
                </svg>
            </button>
        </div>

        <div class="input-group pb-3" v-for="ingredient in ingredients">
            <input v-model="ingredient.ingredient" v-on:keyup.enter="addIngredient" type="text" class="form-control" placeholder="Add an ingredient">
        </div>

        <div class="row">
            <button class="btn btn-success flex-fill ml-3 mr-3 mb-3" v-on:click="pushIngredients">Get Recipes</button>
        </div>
    </div>

    @* Second 'page' *@
    <div class="container" v-if="submitted" v-cloak>

        <div class="d-flex flex-row-reverse pt-3 mb-3 sticky-top">
            <button class="btn btn-secondary ml-1" v-on:click="changeIngredients">Change Ingredients</button>
            <button class="btn btn-danger ml-1"></button>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-success" v-on:click="setVegetarian" data-bs-toggle="button" autocomplete="off">Vegetarian</button>
                <button type="button" class="btn btn-outline-success" v-on:click="setVegan" data-bs-toggle="button" autocomplete="off">Vegan</button>
            </div>
        </div>

        <div class="row card-group mt-3">
            <div class="col-md-4" v-for="recipe in recipes">
                <div class="card mb-3">
                    <img :src="recipe.image" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{recipe.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Used Ingredients</h6>
                        <ul>
                            <li v-for="used in recipe.usedIngredients">{{ used.name }}</li>
                        </ul>
                        <h6 class="card-subtitle mb-2 text-muted">Missing Ingredients</h6>
                        <ul>
                            <li v-for="missing in recipe.missedIngredients">{{ missing.name }}</li>
                        </ul>
                        <div class="row">
                            <a :href="recipe.link" class="btn btn-primary flex-fill ml-3 mr-3">Open Method</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>