@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-1">Welcome</h2>
    <p>This website allows you to tell us what ingredients you have in your house and we'll find you some really good reciepes you can make with those ingredients.</p>
    <p>Just input the ingredients below or send us a picture of the products (with the camera icon) and we'll try and give you some amazing meals</p>
</div>

<div id="index" class="container bg-light rounded">
    <div class="d-flex flex-row-reverse pt-3 mb-3 sticky-top">
        <button class="btn btn-secondary ml-1" v-on:click="addIngredient">Add Ingredient</button>
        <button class="btn btn-danger ml-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
    <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
    <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z" />
</svg></button>
    </div>

    <div class="input-group pb-3" v-for="(ingredient,index) in ingredients" >
        <input v-model="ingredient.ingredient" value="{{ingredient.ingredient}}" v-on:keyup.tab="addIngredient" type="text" class="form-control" placeholder="Add an ingredient">
    </div>
    
    <div class="row">
        <button class="btn btn-success flex-fill ml-3 mr-3 mb-3">Get Recipes</button>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script> @* vue.js include *@